<p>
   <label for="id_a">A:</label>
   <textarea class='textareaAnswer' name="a" cols="90" rows="3" maxlength="200" required id="id_a">
   </textarea>
</p>
<p>
   <label for="id_b">B:</label>
   <textarea class='textareaAnswer' name="b" cols="90" rows="3" maxlength="200" required id="id_b">
   </textarea>
</p>
<p>
   <label for="id_c">C:</label>
   <textarea class='textareaAnswer' name="c" cols="90" rows="3" maxlength="200" required id="id_c">
   </textarea>
</p>
<p>
   <label for="id_d">D:</label>
   <textarea class='textareaAnswer' name="d" cols="90" rows="3" maxlength="200" required id="id_d">
   </textarea>
</p>
<p>
   <label for="id_alternative_correct">Alternative correct:</label>
   <select name="alternative_correct" required id="id_alternative_correct">
      <option value="" selected>Escolha a resposta</option>
      <option value="A">A</option>
      <option value="B">B</option>
      <option value="C">C</option>
      <option value="D">D</option>
   </select>
</p>

<p>
   <label for="id_alternative_correct">Explicação</label>
   <textarea class='textareaAnswer' name="explanation" cols="90" required id="id_explanation">
   </textarea>
</p>