<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Simulados</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    
    {% include "masteruser/modulos/importationcss.html" %}
    <script>
        active = false
    </script>
</head>

<body id="page-top">
    <div id="wrapper">
        
        {% include "masteruser/modulos/menu_lateral.html" %}

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
            {% include "masteruser/modulos/header.html" %}
            <div class="text-dark mb-4" style='margin-left:35px;background-color:#e83e8c;width:160px;padding:12px;border:0px solid;border-radius:4px;color:white !important;'>
                Prova
                <button style='margin-left:10px;background-color:white !important;color:black;border:0px solid;' type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Novo
                </button>

                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <form method='POST' action="{% url 'prova_urls:prova_create' %}">
                    <div class="modal-dialog" role="document">
                       <div class="modal-content" style='background-color:white;'>
                          <div class="modal-header">
                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                             <span aria-hidden="true">&times;</span>
                             </button>
                          </div>
                          <div class="modal-body" style='color:black !important;background-color:white;'>
                             <!--security token-->
                            {% csrf_token %}                
                            {{ form.as_p }}                
                            <style>
                                p input {
                                    width:340px;
                                    border: 1px solid;
                                    border-radius:5px;
                                    margin-left:10px;
                                    padding:3px;
                                }

                                p select{
                                    border: 1px solid;
                                    border-radius:5px;
                                    margin-left:10px;
                                    padding:3px;
                                }
                            </style>
                          </div>
                          <div class="modal-footer">
                             <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                             <button type="submit" value="submit" class="btn btn-primary">Gravar prova</button>
                          </div>
                       </div>
                    </div>
                    </form>
                </div>

            </div>

            <div class="container-fluid">
                <div class="card shadow">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 font-weight-bold">lista de simulados</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-1">
                                <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label>Show&nbsp;<select class="form-control form-control-sm custom-select custom-select-sm"><option value="10" selected="">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select>&nbsp;</label></div>
                            </div>
                            <div class="col-md-3">
                                <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                                    <label>Disciplina&nbsp;
                                    <select class="form-control form-control-sm custom-select custom-select-sm">
                                    <option style='background-color:#3f51b5;color:white;' selected="">Selecione a Disciplina</option>
                                    <option value="25">Todas</option>
                                    {% for data in materias %}                                        
                                        <option value="25">{{ data.title }}</option>
                                    {% endfor %}
                                    </select>&nbsp;
                                </label>
                            </div>
                            </div>
                            <div class="col-md-3">
                                <div class="text-md-right dataTables_filter" id="dataTable_filter"><label>Pesquisar&nbsp;<input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search">&nbsp;</label></div>
                            </div>
                        </div>
                        
                        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                            <table class="table dataTable my-0" id="dataTable">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Nome</th>
                                        <th>Disciplina</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data in dataset %}
                                    <tr> 
                                        <td>
                                            <form action="{% url 'prova_urls:prova_delete' id=data.id %}" method='POST'>
                                                {% csrf_token %}
                                                <input class="btn btn-danger py-0" type='submit' value='Delete' />
                                            </form>
                                        </td>     
                                        <td>
                                            <a href="{% url 'prova_urls:list_answers_por_materias' id=data.id %}"> 
                                            {{ data.title }}
                                            </a>
                                        </td>
                                        
                                        <td>{{ data.disciplina.title }}</td>               
                                    </tr>
                                    {% endfor %}
                                    
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-6 align-self-center">
                                <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27</p>
                            </div>
                            <div class="col-md-6">
                                <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                    <ul class="pagination">
                                        <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        {% include "masteruser/modulos/footer.html" %}

    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    {% load static %}
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/chart.min.js' %}"></script>
    <script src="{% static 'assets/js/bs-init.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>
</body>

</html>