<form method='POST' action="{% url 'disciplina_urls:disciplinas_create' %}">
{% csrf_token %}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="exampleModalLabel">Nova Matéria</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
            <label for="id_title">Title:</label>
            <input class="form-control" type="text" name="title" maxlength="70" required id="id_title">
          </div>
          <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
             <button type="submit" value="submit" class="btn btn-primary">Gravar disciplina</button>
          </div>
       </div>
    </div>
</div>
</form>