<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
      <title>Matérias - PLATAFORMA ERICA</title>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
      {% include "masteruser/modulos/importationcss.html" %}
   </head>
   <body id="page-top">
      <div id="wrapper">
         {% include "masteruser/modulos/menu_lateral.html" %}
         <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
               {% include "masteruser/modulos/header.html" %}
               <div class="container-fluid">
                  <h3 class="text-dark mb-4">Disciplinas</h3>
                  <div class="card shadow">
                     <div class="card-header py-3">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Novo
                        </button>

                        {% include "masteruser/modulos/modal_nova_materia.html" %}

                        
                     </div>
                     <div class="card-body">
                        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                           <table class="table dataTable my-0" id="dataTable">
                              <thead>
                                 <tr>
                                    <th></th>
                                    <th>Título</th>
                                 </tr>
                              </thead>
                              <tbody id="materias">
                                 {% for data in materias %}
                                 <tr>
                                    <td >
                                       <form action="{% url 'disciplina_urls:disciplinas_delete' id=data.id %}" method='POST'>
                                           {% csrf_token %}
                                           <input class="btn btn-danger py-0" type='submit' value='Delete' />
                                       </form>
                                   </td>
                                    <td>{{ data.title }}</td>
                                 </tr>
                                 {% endfor %}
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            
            {% include "masteruser/modulos/footer.html" %}

         </div>
         <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
      </div>
      {% load static %}
      </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
      <script src="{% static 'assets/js/jquery.min.js' %}"></script>
      <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'assets/js/chart.min.js' %}"></script>
      <script src="{% static 'assets/js/bs-init.js' %}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
      <script src="{% static 'assets/js/theme.js' %}"></script>
   </body>
</html>